body {
  overflow-x: hidden;
}

/* Footwear section */

.footwear {
  color: silver;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;

}

/* <hr> style */

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/* Footer section */

footer {
  background-color: #343a40;;
  color: white;
}

.footer2 {
  text-align: center;
}



