body {
  overflow-x: hidden;
}

.button2 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: teal;
  color: white;
}

.custom-btn {
  padding-left: 20px !important;
}

li a:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: teal;
  color: white;
}

.footwear {
  color: silver;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;

}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

footer {
  background-color: #343a40;;
  color: white;
}

.footer2 {
  text-align: center;
}



